<body class="H3">
    <header class="Banner">
        <h1>YA CASI...</h1>
        <p>Seguimos en busca del nombre completo de nuestra joven promesa. ¿Cómo será su apellido?</p>
    <a href = '@Url.Action("Tutorial")'>Tutorial</a>
    <a href = '@Url.Action("Index")'>Inicio</a>
    <a href = '@Url.Action("Comenzar")'>Jugar</a>
    <a href = '@Url.Action("Creditos")'>Créditos</a>
    </header>
    <main class="Juego3">
    <h3>Temportizador: <span id="tiempo"></span></h3>
            
        <script>
            let tiempo = parseInt(localStorage.getItem('tiempo')) || 900;
                    
            let timer = setInterval(function() {
                let minutes = Math.floor(tiempo / 60);
                let seconds = tiempo % 60;
                document.getElementById('tiempo').innerText = `${minutes}:${seconds < 10 ? '0' : ''}${seconds}`;
            
                // Save the current timer state to localStorage
                localStorage.setItem('tiempo', tiempo);
            
                if (tiempo <= 0) {
                    clearInterval(timer);
                    alert("¡Se acabó el tiempo!");
                    location.href = "TP-05_Dyner_Huberman_Rozenbeim_\Views\Home\Derrota.cshtml"
                    localStorage.removeItem('tiempo'); // This effectively resets the timer for a new game
                }
                tiempo--;
            }, 1000); // Changed interval to 1000ms (1 second) for accuracy
        </script>
        @if(ViewBag.Sala != null){
            <p>@ViewBag.Sala</p>
        }
        @if(ViewBag.Clave != null){
            <p>@ViewBag.Clave</p>
        }
        <button>Pista 1: Para obtrener el nombre hay que responder esta serie de preguntas</button>
        <button>Pista 2: La clave es el nombre completo de nuestra futura estrella</button>
        @if(ViewBag.Terminado3!=null){
            
            @if(ViewBag.Terminado3)
            {
                <p>Dato importante, el último apellido de nuestra joven promesa es @ViewBag.Nombre</p>
                <p>Sabiendo el nombre completo, hay que ingresarlo para poder contratar a nuestra joven promesa</p>
                <form action='@Url.Action("Habitacion")'> 
                    <label><input type="hidden" name="sala" value="4" /></label>
                    <label><input type="text" name="clave" placeholder = "Ingresá la clave de la sala en la que estás" autocomplete = "off" required/></label>
                    <input type="submit"/>
                </form>
            }
            else
            {
                <p>@ViewBag.correcto1</p>
                <p>@ViewBag.correcto2</p>
                <p>@ViewBag.correcto3</p>
                <p>@ViewBag.correcto4</p>
                <p>@ViewBag.correcto5</p>
                <p>@ViewBag.correcto6</p>
                <form action='@Url.Action("Juego3")'> 
                <label><input type="hidden" name="sala" value="4" /></label>
                ¿Cómo se llama el actual estadio del Real Madrid? <label><input type="text" name="respuesta1" autocomplete = "off" required/></label>
                ¿Quién es el máximo goleador del Real Madrid? <label><input type="text" name="respuesta2" autocomplete = "off" required/></label>
                ¿De que ciudad es el club? <label><input type="text" name="respuesta3" autocomplete = "off" required/></label>
                ¿Cuantas Champions League tiene actualmente el Real Madrid? (ingrese solo la cantidad) <label><input type="text" name="respuesta4" autocomplete = "off" required/></label>
                ¿Quiénes el jugador con mas partidos jugados en la historia del Real Madrid? <label><input type="text" name="respuesta5" autocomplete = "off" required/></label>
                ¿Cuantas veces el Real Madrid ganó "La liga" (ingrese solo la cantidad) <label><input type="text" name="respuesta6" autocomplete = "off" required/></label>
                <input type="submit"/>
                </form>
            }
        }
        else
        {
            <form action='@Url.Action("Juego3")'> 
                <label><input type="hidden" name="sala" value="4" /></label>
                ¿Cómo se llama el actual estadio del Real Madrid? <label><input type="text" name="respuesta1" required/></label>
                ¿Quién es el máximo goleador del Real Madrid? <label><input type="text" name="respuesta2" required/></label>
                ¿De que ciudad es el club? <label><input type="text" name="respuesta3" required/></label>
                ¿Cuantas Champions League tiene actualmente el Real Madrid? (ingrese solo la cantidad) <label><input type="text" name="respuesta4" required/></label>
                ¿Quiénes el jugador con mas partidos jugados en la historia del Real Madrid? <label><input type="text" name="respuesta5" required/></label>
                ¿Cuantas veces el Real Madrid ganó "La liga" (ingrese solo la cantidad) <label><input type="text" name="respuesta6" required/></label>
                <input type="submit"/>
                </form>
        }
    </main>
</body>