<body class="H0">
    <header class="Banner">
        <h1>PRIMEROS PASOS</h1>
        <p>Tenés sacar tu boleto para subirte al avión para ir a Brasil en busca de la jóven promesa</p>
        <a href = '@Url.Action("Tutorial")'>Tutorial</a>
        <a href = '@Url.Action("Index")'>Inicio</a>
        <a href = '@Url.Action("Comenzar")'>Jugar</a>
        <a href = '@Url.Action("Creditos")'>Créditos</a>
    </header>
        <main class="Juego0">

            <h2>Temporizador: <span id="tiempo"></span></h2>
            
            <script>
                let tiempo = parseInt(localStorage.getItem('tiempo')) || 600;

                let timer = setInterval(function() {
                    let minutes = Math.floor(tiempo / 60);
                    let seconds = tiempo % 60;
                    document.getElementById('tiempo').innerText = `${minutes}:${seconds < 10 ? '0' : ''}${seconds}`;

                    localStorage.setItem('tiempo', tiempo);

                    if (tiempo <= 0) {
                        clearInterval(timer);
                        alert("¡Se acabó el tiempo!");
                        setTimeout(function() {
                            location.href = "/Home/Derrota";
                            localStorage.removeItem('tiempo');
                        }, 100);
                    }
                    tiempo--;
                }, 1000);
            </script>
            @if(ViewBag.Clave != null)
            {
                <p>@ViewBag.Clave</p>
            }

            <button>Pista 1: La formación es del Real Madrid </button>

            <button>Pista 2: Es la formación titular del Real Madrid cunado ganó la Champions en en 2018</button>
            <img src = "~/Img/final2018.png">
            @if(ViewBag.Terminado!= null)
            {
                @if(ViewBag.Terminado)
                {
                    <form action='@Url.Action("Habitacion")'> 
                        <label><input type="hidden" name="sala" value="1" /></label>
                        <label><input type="text" name="clave" placeholder = "Ingresá el código del avión" autocomplete = "off" required/></label>
                        <input type="submit"/>
                    </form>
                }
                else
                {
                    <form action='@Url.Action("Juego0")'> 
                        <label><input type="text" name="Jugador" placeholder = "Ingrese el jugador" autocomplete = "off" required/></label>
                        <p>@ViewBag.aciertos/11<p>
                        <input type="submit"/>
                    </form>
                    <h4>@ViewBag.Jugador</h4>
                }
            }else
            {
                <form action='@Url.Action("Juego0")'> 
                    <label><input type="text" name="Jugador" placeholder = "Ingrese el jugador" autocomplete = "off" required /></label>
                    <label><input type="hidden" name="aciertos" value = "0" /></label>
                    <input type="submit"/>
                
                </form>
                <h4>@ViewBag.Jugador</h4>
            }
            
            <h4>Su posible codigo de avion es @ViewBag.Respuesta</h4>
        </main>
</body>
   



